<div class="main">
	<div class="container">
		<h1 style="font-size: 30px;	font-weight: 600; color: black; text-align:right; margin-top:0;">All Orders</h1>
		
		<div ng-repeat="order in allOrders">
			<p class="orderHistoryTableInfo">Customer: {{order.name}}</p>
			<p>Time of Order: {{order.time|date}}</p>
			<p>Time of Delivery: {{order.date}}</p>
			<p>Street: {{order.street}}</p>
			<p>CPU: {{order.cpu}}</p>
			<p>Dorm: {{order.dorm}}</p>
			<p>Total: {{order.total}}</p>

			<table class="table table-hover">
				<tr>
					<th>Product</th>
					<th>Name</th>
					<th>Price</th>
					<th>Quantity</th>
				</tr>
				<tr ng-repeat="item in order.content">
					<td><img ng-src="{{productTypes[item.indexOne].products[item.indexTwo].img}}" alt="product" class="img-rounded img-responsive" height="200px" width="200px"></td>
					<td>{{productTypes[item.indexOne].products[item.indexTwo].name}}</td>
					<td>{{productTypes[item.indexOne].products[item.indexTwo].price|currency}}</td>
					<td>{{item.quantity}}</td>
				</tr>
			</table>
		</div>
		
	</div>
</div>
