<div class="container">
 	<div class="col-md-8">
	 	<form action="checkout.php" id="payment-form" autocomplete="on" method="POST">

	 		<img src="img/font/personalInformation.png" width="450px" style="float: right;">
			
			<div class="form-group" style="clear:both;">
			<label for="name" class="control-label">Name </label>
			<input id="name" type="text" class="input-lg form-control" placeholder="Ex. Zijie Zhao" ng-model="cutomerName" required="string">
			</div>

			<div class="form-group">
			<label for="street" class="control-label">Shipping Address </label>
			<input id="street" type="text" class="input-lg form-control" placeholder="Ex. 500 Joseph C. Wilson Blvd" ng-model="customerStreet" required>
			</div>

			<div class="form-group">
			<label for="cpu" class="control-label">Cpu Box Number </label>
			<input id="cpu" type="text" class="input-lg form-control" placeholder="Ex. 273224" ng-model="customerCpu" required>
			<small>*If unknown, please enter n/a.</small>
			</div>			 

			<div class="form-group">
			<label for="address" class="control-label">City, State Zipcode </label>
			<input id="address" type="text" class="input-lg form-control" placeholder="Ex. Rochester, NY 14627" ng-model="customerCity" required>
			</div>

			<div class="form-group">
			<label for="dorm" class="control-label">Residential Dorm </label>
			<input id="dorm" type="text" class="input-lg form-control" placeholder="Ex. SuB" ng-model="customerDorm" required>
			<small>*If unknown or off-campus, please enter n/a or off-campus.
			</div>

			<div class="form-group">
			<label for="date" class="control-label">Delivery Date </label>
			<input id="date" type="text" class="input-lg form-control" placeholder="Ex. August 21st, 2015" ng-model="customerDate" required>
			</div>

	 		<div class="form-group">
				<label for="phone" class="control-label">Phone Number </label>
				<input id="phone" type="text" class="input-lg form-control" placeholder="Ex. 585-342-7342" ng-model="customerPhone" required>
				<small>*If unknown, please enter n/a.</small>
			</div>  		

			<img src="img/font/paymentInformation.png" width="450px" style="float: right;">

		    <span class="validation"style="clear:both;"></span>

			<div class="form-group" style="clear:both;">
				<label for="cc-number" class="control-label">Card Number<small class="text-muted">[<span class="cc-brand"></span>]</small></label>
				<input id="cc-number" type="tel" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="**** **** **** ****" data-stripe="number" required>
			</div>

			<div class="form-group">
			<label for="cc-exp" class="control-label">Card Expiration Info</label>
			<input id="cc-exp" type="tel" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="** / **" required>
			</div>

			<div class="form-group">
			<label for="cc-cvc" class="control-label">Card CVC</label>
			<input id="cc-cvc" type="tel" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="***" data-stripe="cvc" required>
			</div>
		    <span class="payment-errors" style="clear:both;font-size:2em;color:red;"></span>

			<div class="collapse" id="terms">
				<div class="well">
					<p>By placing your order on freshmanpackage.com, you are agreeing to the following terms and conditions:</p>
					<p><Strong>THE NEXT EARLIEST DELIVERY DATE IS AUGUST 20TH, 2015</Strong></p>
					<p>Out-of-stock Policy</p>
					<p>All merchandise is subject to availability. For the items that are out of stock, we will notify you as soon as possible via text message, email, or wechat message. We will provide you with a full refund on the item that is out of stock.</p>
					<p>Return Policy</p>
					<p>Unless product is defective in any way, we DO NOT accept any return once your order has been processed. This policy is created for the special nature of this business - we receive our supply through bulk order and third party delivery. Unless product is defective, we are unable to return individual items for you. We sincerely apologize for any inconvenience. If you wish to cancel an order, please contact customer service as soon as possible. Contact information for customer service is located in the About Us page. You can access the page directly through the navigation bar on top.</p>
					<p>Delivery Policy</p>
					<p>Delivery is FREE, unless otherwise specified. Our supply comes in bulk at specific days. Therefore, we may not be able to meet individual request of accelerated delivery. In order to ensure that you will receive your merchandise on time, please order at least five days ahead. Thank you for your coorperation.
					Please be advised, currently, we only deliver to post office at the University of Rochester, Syracuse University, Cornell University, and the University at Buffalo. If you require in-room delivery, please contact our customer service. Additional delivery charge may apply.</p>
				</div>
			</div>		    

			<div class="checkout-left-out-1 col-md-10 col-mid-offset-1" style="margin-bottom: 10px; border:1px solid rgb(213,213,213); border-radius:0.5em;">
				<div class="col-md-4" style="display:inline-block; padding-top:1.5em;">
					<button type="submit" class="btn btn-primary btn-block">Submit</button>
				</div>
				<div class="col-md-6" style="display:inline-block;">
					<p style="font-weight:600; font-size:15px; padding-top:0.5em; color:#337ab7;">Order total: {{totalAfterTax|currency}}</p>
					<small style="text-align: center;">By placing your order, you agree to FreshmanPackage.com's <a role="button" data-toggle="collapse" href="https://freshmanpackage.com/home.html#/checkout#terms" aria-expanded="false" aria-controls="terms">terms and conditions</a>.</small>
				</div>
			</div>
		</form>
	</div>

	<div class="col-md-4 checkout-right-out-1">
		<div class="checkout-right-out-3">
			<p style="font-weight:700; font-size:17px;">Order Summary</p>
			<table width="100%" class="checkout-right-table">
				<tr style="padding-bottom: ">
					<td>Items:</td>
					<td>{{total|currency}}</td>
				</tr>
				<tr>
					<td>Shipping & handling:</td>
					<td style="border-bottom:solid 1px rgb(213,213,213);">$0.00</td>
				</tr>
				<tr>
					<td style="padding-top:8px;">Total before tax:</td>
					<td style="padding-top:8px;">{{total|currency}}</td>
				</tr>
				<tr style="border-bottom: 1px solid rgb(213,213,213)">
					<td>Estimated tax to be collected:</td>
					<td>{{total*0.08|currency}}</td>
				</tr>
				<tr>
					<td style="font-weight:700; font-size:17px; padding-top:1em; color:#337ab7;">Order Total:</td>
					<td style="font-weight:700; font-size:17px; padding-top:1em; color:#337ab7;">{{totalAfterTax|currency}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>

