<div class="main">
	<div class="jumbotron" style="background-image:url('img/contact_pic.jpg');background-repeat:no-repeat;background-position:center;height:600px;margin-top:-2.5em;">
		<div class="container">
			<h1 style="color:white;text-align:center;margin-top:1em;letter-spacing:8px;font-size:8em;">THE COMPANY</h1>
		</div>
	</div>
	<div class="centerBox" style="width:80%;margin:auto;max-width:950px;margin-top:8em;">
		<p style="background-color:#39393A;color:white;line-height:27px;font-size:14px;font-family: 'Montserrat', sans-serif; padding-top: 3em;padding-bottom: 3em;padding-left: 5em;font-weight: 400;padding-right: 5em;letter-spacing: 1.5px; position: relative;margin-top:-17em; text-align:center; margin-bottom:5em;margin-left:auto;margin-right:auto;">美学新购由罗切斯特大学创业集团PostApp INC开发,专为北美留学新生提供适合大学生活,优质多选的生活用品.<br>在美国,网购的选项无穷无尽,然而没有几家网购能够按照客户的需求定时送货.我们知道,新生在入学前无法给自己寄东西,然而到校之后又有很多繁杂的事物要处理,无暇去交通不便利的超市购买生活用品.即使立刻网购,送货往往也要两三天.因此许多新生不得不和衣而睡,拿课本勉强当枕头.<br>使用美学新购，不仅能让你提前购买学长学姐亲自使用过并且鼎力推荐的优良产品,更可以享受全场免运费以及灵活的定时送货.只要在付款时告诉我们你到校的日期,我们就会准时把你的产品送到.<br>在入学的第一天，悠闲的享受优质的生活,提前为新的学期做好准备吧.</p>
	</div>
	
	<div class="contact" style="text-align:center; font-family: 'Montserrat', sans-serif; padding-bottom:5em;">
		<h2 style="margin-bottom: 0.7em; text-align: center;font-size: 4em;letter-spacing: 4px;font-weight: 600;font-family: 'Montserrat', sans-serif;">Contact</h2>
		<p style="font-size:1.5em;"><strong>电邮</strong></p> 
			<p style="margin-bottom:2em;">team@post-app.com</p>
		<p style="font-size:1.5em;"><strong>寄址</strong></p>
			<p>500 Joseph C. Wilson Blvd</p>
			<p>CPU 271223</p>
			<p>Rochester, NY 14627</p>
			<p style="margin-bottom:2em;">U.S.A.</p>
		<p style="font-size:1.5em;"><strong>微信ID</strong></p>
			<p>zinosama</p>
	</div>



	<div class="leadership" style="background-color: #F1F1F1; font-weight: 500;line-height: 1.6em;text-align: center;padding-bottom: 3em;margin-bottom: 3em;padding-top: 3em;font-family: 'Montserrat', sans-serif;">
		<h2 style="margin-bottom: 0.7em; text-align: center;font-size: 4em;letter-spacing: 4px;font-weight: 600;font-family: 'Montserrat', sans-serif;">Team</h2>
		<div class="member" style="margin-bottom:1.5em;">
			<p class="member_title">Co-Founder &#38; Chief Executive Officer</p>
			<p class="member_name">Zijie Jay Zhao</p>
			<p class="member_description">Jay作为Post-App的发起者，同时也是现今企业的多数股权持有者,负责并致力于打开中国市场.他在中国的活动使Post-App受到诸多投资者的关注,为企业在国内发展打下坚实基础.</p>
		</div>
	
		<div class="member" style="margin-bottom:1.5em;">
			<p class="member_title">Co-Founder &#38; Chief Marketing Officer</p>
			<p class="member_name">Jiayang Donna Lee</p>
			<p class="member_description">Donna来自罗切斯特大学西蒙商学院.她对市场以及宣传的经验和独特见解为Post-App旗下一系列服务于美国留学生的产品开发,定位,和营销做出了巨大的贡献.</p>
		</div>
			
		<div class="member" style="margin-bottom:1.5em;">				
			<p class="member_title">Co-Founder &#38; Chief Technology Officer</p>
			<p class="member_name">Binhai Zino Hu</p>
			<p class="member_description">Zino来自罗切斯特大学Hajim工程与应用科学学院以及西蒙商学院.Zino负责Post-App在北美地区的运作,旗下项目的监管,以及北美地区新产品的开发.</p>
		</div>

		<div class="member" style="margin-bottom:1.5em;">				
			<p class="member_title">Artistic Consultant</p>
			<p class="member_name">Mingjian Ming Zhang</p>
			<p class="member_description">Ming来自罗切斯特大学Digital Media专业,擅长社交网络的运用以及开发其相关的商务价值.</p>
		</div>			
	</div>

	<div class="partner" style="text-align: center;font-family: 'Montserrat', sans-serif;padding-top: 1em; padding-bottom: 5em;">
		<h2 style="margin-bottom: 0.7em; text-align: center;font-size: 4em;letter-spacing: 4px;font-weight: 600;font-family: 'Montserrat', sans-serif;">Partner</h2>
		
		<div class="row" style="margin-bottom:1em;">
			<div class="col-sm-2 col-sm-offset-5">
				<img class="img-responsive" src="img/university/ur.png" alt="university of rochester" style="margin-top: 1.5em; margin-bottom: 1.5em;">
			</div>
		</div>
		<p style="text-align:center;">我们的企业Post-App INC.是罗切斯特大学官方援助企业</p>
		<p style="font-size:14px;margin-bottom:2em;">不断增加的服务面积： 我们为以下高校提供服务</p>
		<p class="university_listing">University of Rochester</p>
		<p class="university_listing">Cornell University</p>
		<p class="university_listing">Syracuse University</p>
		<p class="university_listing">University at Buffalo</p>
	</div>

</div>
