<div class="main">
	<div style="width:40%;margin:auto;min-width:350px;">
		<div class="row" style="margin-top:1.5em; margin-bottom:1.5em;">
			<div class="col-sm-6">
				<img class="img-responsive" src="img/font/title.png" alt="FreshmanPackage" style="padding-top: 1em;">
			</div>
			<div class="col-sm-6">
				<p style="font-weight: 600; font-size: 22;">LOG IN TO BEGIN</p>
				<p>Welcome to Freshman Package, the easiest way to shop for your college supplies</p>
				<p>Shipping is always FREE. Order ahead of time, and we will deliver on the day you want us to!</p> 
			</div> 
		</div>
		<p ng-show="message" style="color:rgb(242, 104, 35);">{{message}}</p>
		<form class="form-horizontal" name="myform" ng-submit="login()" novalidate>

			<div class="form-group"style="margin-left:0px; margin-right:0px;">
				<label for="email" class="control-label" style="font-size: 1.2em;">Email</label>
				<div>
					<input class="form-control" type="email" name="email" id="email" placeholder="Email"
					ng-model="user.email" ng-required="true">
					<p ng-show="myform.email.$invalid && myform.email.$touched">Must be a valid email</p>
				</div>
			</div>

			<div class="form-group" style="margin-left:0px; margin-right:0px;">
				<label for="password" class="control-label" style="font-size: 1.2em;">Password</label>
				<div>
					<input class="form-control" type="password" name="password" placeholder="Password" id="password" 
					ng-model="user.password" ng-required="true">
					<p ng-show="myform.password.$invalid && myform.password.$touched">Please enter your password</p>
				</div>
			</div>

			<button type="submit" class="btn btn-default btn-lg btn-block" ng-disabled="myform.$invalid">Login</button>
		</form>
	</div>
</div>